.formulario{
    width: 100%;
    @include desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
.campo {
    color: $blanco;
}
.campo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;


    label{
        // flex: 0 10rem;
        padding: 0 1rem;
        text-transform: uppercase;
        color: $blanco;
        text-shadow: 0 0 2.2px $negro;
        font-weight: $bold;
    }

    input{
        flex: 1;
        border: none;
        border-radius: 1rem;
        padding: .5rem;
        border-bottom: .2px solid $oscurovioleta;
    }
}

