


.invalidar-cita{
    text-align: center;
    margin: calc($separacion / 2 ) 0;
    text-transform: uppercase;
    text-shadow: 0 0 4px $oscurovioleta;
    font-size: 1.5rem;
    font-weight: $bold;
  


}